
/*===== Pricing Section Start */
.pricing_photo {
  width: 100%;
  height: 100%;

  > img {
    width: 100%;
    height: 100%;
  }
}

.pricing__tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--color-card-body);
  padding: 1rem 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pricing_tab_item {
  flex: auto;
  text-align: center;
  cursor: pointer;

  &.active {
    > h3 {
      color: $color_primary_two;
    }
  }
}

.pricing__content {
  display: none;

  &.active {
    display: block;
    padding: 0 3rem;
  }
}

.pricing__content_data {
  background-color: var(--color-card-body);
  padding: 2rem;
  @include display_flex_center;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  overflow: hidden;
  margin: 0 0 0.6rem 0;
  transition: all 0.5s linear;

  &::before {
    content: "";
    background-color: $color_primary_two;
    position: absolute;
    width: 120%;
    height: 100px;
    top: 22px;
    left: -22px;
    transform: rotate(15deg);
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    border: 1px solid $color_aqua;
    box-shadow: 0px 0px 20px 0px var(--color-secondary);

    &::before {
      top: 0;
      transform: rotate(0deg);
    }
  }

  &:hover > h3::before {
    width: 150%;
  }

  > h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    z-index: 1;
    width: 100%;
    text-align: center;
    position: relative;

    &::before {
      content: "";
      width: 35%;
      background-color: var(--color-text-second);
      height: 0.5rem;
      left: 50%;
      bottom: -48%;
      transform: translateX(-50%);
      position: absolute;
      transition: all 0.6s linear;
    }
  }

  > span {
    font-size: 3.5rem;
    z-index: 1;
    color: $color_red_alt;
    align-self: flex-start;
    padding: 0.6rem 0;
    font-weight: bold;
    > i {
      font-size: 1rem;
      color: $color_hotpink;
    }
  }

  > ul {
    > li {
      margin: 0.6rem 0;
      color: var(--color-text-second);
      > i {
        margin-right: 1rem;
      }
    }
  }

  > a {
    width: 60%;
    height: 40px;
    @include display_flex_center;
    border: 1px solid $color_primary_two;
    border-radius: 4px;
    margin-top: 2rem;
    z-index: 1;
    transition: all 0.5s linear;
    position: relative;
    overflow: hidden;

    > span {
      color: var(--color-text-primary);
      font-weight: bold;
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 0;
      width: 100%;
      background-color: $color_primary_two;
      transition: all 0.6s ease-in-out;
    }

    &:hover::before {
      height: 100%;
    }
  }
}

/* Media Query For Pricing Section*/
@include smallDevice {
  .pricing__content_data {
    margin-bottom: 2rem;
    > h3 {
      font-size: 1.7rem;
    }

    > span {
      font-size: 2.8rem;
    }

    > a {
      padding: 0.5rem 1.1rem;
    }
  }
}

@include mediamDevice {
  .pricing__content {
    &.active {
      padding: 0 0;
    }
  }
}

/*===== Pricing Section End */
